[submodule "cellstudio-core"]
	path = cellstudio-core
	url = https://github.com/AlchemyAITech/cellstudio-core.git
[submodule "cellstudio-server"]
	path = cellstudio-server
	url = https://github.com/AlchemyAITech/cellstudio-server.git
[submodule "cellstudio-web"]
	path = cellstudio-web
	url = https://github.com/AlchemyAITech/cellstudio-web.git
